// partner
.partner {
    overflow-x: clip;
    
    @extend %py-30;
    &__wrapper{
        @extend %p-rel;
        z-index: 333;
    }

    //background overlay
    &--gradient {
        @extend %p-rel;

        &:before {
            @extend %p-abs;
            content: "";
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            background-color: $tertiary-color;
            border-top: 8px solid $body-color;
            border-bottom: 8px solid $body-color;
            z-index: 3;
        }

        &::after {
            @extend %p-abs;
            content: "";
            left: 0;
            top: -5px;
            height: 119px;
            width: 100%;
            // background: radial-gradient(circle, rgba(36, 23, 0, 0) 0%, var(--brand-color) 100%);
            background: linear-gradient(150.39deg, rgb(237 242 248) 15.02%, #EDF2F8 99.59%);

            transform: rotate(2deg);
            z-index: 2;
        }
    }
}